<!-- header.component.html -->
<header>
  <nav class="nav_bar">
    <div class="leftside">
      <div class="logoWrap">
        <a href="javascript:void(0)" class="logo">
          <!-- <img src="../../../assets/images/logo.png" alt="logo" /> -->
          <h3>NosyStore</h3>
        </a>
        <button class="toogleBtn" (click)="toggleSidebar()">
          <a class="icon" href="javascript:void(0)">
            <i class="bi bi-list-ul"></i>
          </a>
        </button>
      </div>
      <!-- search input -->
      <!-- <div class="searchBarContainer">
          <input class="searchInput" type="text" />
          <button class="searchBtn"><i class="bi bi-search"></i></button>
        </div> -->
    </div>

    <!-- <ul class="rightMenuListing">
        <li>
          <a class="icon hasNotification" href="javascript:void(0)">
            <i class="bi bi-bell"></i>
          </a>
        </li>
        <li>
          <a class="icon" href="javascript:void(0)">
            <i class="bi bi-envelope"></i>
          </a>
        </li>
        <li class="dropdown">
          <a>Change Theme</a>
          <div class="dropdown-content">
            <a (click)="changeTheme('default')">Default</a>
            <a (click)="changeTheme('blue')">Blue</a>
            <a (click)="changeTheme('green')">Green</a>
          </div>
        </li>
        <li>
          <a class="icon profileBox" href="javascript:void(0)">
            <img src="../../../assets/images/dummyClient.svg" alt="profile" />
          </a>
        </li>
      </ul> -->
  </nav>
</header>
