<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
    <div class="category-container">
      <mat-card class="category-photo-card">        
        <mat-card-content>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput />
          </mat-form-field>
        </mat-card-content>
  
        <!-- <mat-card-content>
          <mat-form-field>
            <mat-label>Parent Category</mat-label>
            <mat-select formControlName="parentId" >
              <mat-option value="" hidden>Select Parent Category</mat-option>
              <mat-option *ngFor="let category of categories" [value]="category._id">
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content> -->
  
        <mat-card-content>
          <div class="category-photo-container">
            <div class="category-photo">
              <img [src]="categoryImageUrl" />
              <input type="file" (change)="onFileSelected($event)" #fileInput />
            </div>
          </div>
        </mat-card-content>
  
        <mat-card-actions class="actions">
          <button mat-raised-button class="custom-button">Save</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </form>
  