<div class="tabs-container">
    <mat-tab-group>
      <mat-tab label="All Products">
        <div class="mid-bar-item" style="width: 100% !important; display: flex; align-items: flex-end; justify-content: space-between;">
          <app-search
            [searchPlaceholder]="'Search by Name'"
            (onSearch)="onSearch($event, 'all')"
          ></app-search>          
          <button mat-raised-button color="primary" (click)="onCreate()">Create Product</button>
        </div>
  
        <!-- Create category Button Below the Search -->
  <div class="create-category-container" style="margin-top: 1rem;">
  </div>
  <div class="loader" *ngIf="isLoading">
    <!-- <mat-spinner [strokeWidth]="5" color="accent"></mat-spinner> -->
    <div class="loaderCustom"></div>
  </div>

        <mat-card class="plan-card" *ngIf="!isLoading">
          <!-- <mat-card-header>
              <mat-card-title>
                Subscription history
              </mat-card-title>
            </mat-card-header> -->
          <mat-card-content>
            <div class="table-container">
            <table
              matSort
              mat-table
              [dataSource]="datasource"
              class="mat-elevation-z8"
            >
              <ng-container matColumnDef="S.No." class="format-column">
                <th mat-header-cell *matHeaderCellDef>No.</th>
                <td mat-cell *matCellDef="let user; let i = index">
                  {{ (page - 1) * limit + (i + 1) }}.
                </td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
              </ng-container>
              <ng-container matColumnDef="category">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Categories</th>
                <td mat-cell *matCellDef="let element"> 
                    {{ element.categoryName }}
                  </td>
              </ng-container>
              <ng-container matColumnDef="topPickToday">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                  Today Priority
                </th>
                <td mat-cell *matCellDef="let element" (dblclick)="openInput(element, 'topPickToday')">
                  <span *ngIf="!isEditing(element, 'topPickToday')">
                    {{ element.topPickToday }}
                  </span>
                  <input
                    *ngIf="isEditing(element, 'topPickToday')"
                    type="number"
                    [value]="element.topPickToday"
                    (keyup.enter)="setPriority(element, $event, 'topPickToday')"
                  />
                  <mat-spinner *ngIf="element.isLoading && isEditing(element, 'topPickToday')" [diameter]="20" color="primary"></mat-spinner>
                </td>
              </ng-container>
              
              <ng-container matColumnDef="topPickWeek">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                  Week Priority
                </th>
                <td mat-cell *matCellDef="let element" (dblclick)="openInput(element, 'topPickWeek')">
                  <span *ngIf="!isEditing(element, 'topPickWeek')">
                    {{ element.topPickWeek }}
                  </span>
                  <input
                    *ngIf="isEditing(element, 'topPickWeek')"
                    type="number"
                    [value]="element.topPickWeek"
                    (keyup.enter)="setPriority(element, $event, 'topPickWeek')"
                  />
                  <mat-spinner *ngIf="element.isLoading && isEditing(element, 'topPickWeek')" [diameter]="20" color="primary"></mat-spinner>
                </td>
              </ng-container>
              
              <ng-container matColumnDef="newLaunch">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                  New Launch Priority
                </th>
                <td mat-cell *matCellDef="let element" (dblclick)="openInput(element, 'newLaunch')">
                  <span *ngIf="!isEditing(element, 'newLaunch')">
                    {{ element.newLaunch }}
                  </span>
                  <input
                    *ngIf="isEditing(element, 'newLaunch')"
                    type="number"
                    [value]="element.newLaunch"
                    (keyup.enter)="setPriority(element, $event, 'newLaunch')"
                  />
                  <mat-spinner *ngIf="element.isLoading  && isEditing(element, 'newLaunch')"  [diameter]="20" color="primary"></mat-spinner>
                </td>
              </ng-container>
                            <ng-container matColumnDef="brand">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Brand</th>
                <td mat-cell *matCellDef="let element">{{ element?.brandId?.name ? element?.brandId?.name : '-' }}</td>
              </ng-container>
              <ng-container matColumnDef="regularPrice">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Regular Price</th>
                <td mat-cell *matCellDef="let element">{{ element.regularPrice ? element.regularPrice : 0 }}</td>
              </ng-container>
              <ng-container matColumnDef="salePrice">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Sale Price</th>
                <td mat-cell *matCellDef="let element">{{ element.salePrice ? element.salePrice : 0 }}</td>
              </ng-container>
              <ng-container matColumnDef="avgRating">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Avg Rating</th>
                <td mat-cell *matCellDef="let element">{{ element.ratingsAvg ? element.ratingsAvg : 0 }}</td>
              </ng-container>
              <ng-container matColumnDef="totalRating">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Total Rating</th>
                <td mat-cell *matCellDef="let element">{{ element.ratingsTotal ? element.ratingsTotal : 0 }}</td>
              </ng-container>
              <!-- <ng-container matColumnDef="logo">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Logo</th>
                <td mat-cell *matCellDef="let element">
                  <img *ngIf="element.logo" [src]="element.logo" alt="brand" width="50" height="50">
                </td>
               
              </ng-container> -->
              
              
              <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef>CreatedAt</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.createdAt | date : "dd/MM/yyyy" }}
                </td>
              </ng-container>
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element">
                  <section class="example-section">
                    <mat-slide-toggle
                      class="example-margin"
                      [color]="color"
                      [checked]="element.isActive"
                      [disabled]="disabled"
                      (change)="changeProductStatus(element, $event)"
                    >
                    </mat-slide-toggle>
                  </section>
                </td>
              </ng-container>

                 <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon
                    color="primary"
                    (click)="editProduct(element._id)"
                    >edit</mat-icon
                  >

                  <mat-icon
                    color="primary"
                    (click)="viewProduct(element._id)"
                    >remove_red_eye</mat-icon
                  >
  
      

                  
                </td>

              </ng-container> 
  
              <!-- <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element">
                  <section class="example-section">
                    <mat-slide-toggle
                      class="example-margin"
                      [color]="color"
                      [checked]="element.isActive"
                      [disabled]="disabled"
                      (change)="toggleStatus(element._id, 'all')"
                    >
                    </mat-slide-toggle>
                  </section>
                </td>
              </ng-container>
              
              
              <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef>CreatedAt</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.createdAt | date : "dd/MM/yyyy" }}
                </td>
              </ng-container>
              
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon
                    color="primary"
                    (click)="editProduct(element._id)"
                    >edit</mat-icon
                  >

                  <mat-icon
                    color="primary"
                    (click)="viewProduct(element._id)"
                    >remove_red_eye</mat-icon
                  >
  
                  <mat-icon
                    color="primary"
                    (click)="delete(element._id)"
                    >delete</mat-icon
                  > -->
                  <!-- <mat-icon color="accent">create</mat-icon>
                  <mat-icon color="warn">delete_outline</mat-icon> -->

                  <!-- <button mat-icon-button (click)="viewProduct(element._id)" >
                    <mat-icon>remove_red_eye</mat-icon>
                  </button> -->
                  
                <!-- </td>

              </ng-container> -->
  
              <tr mat-header-row *matHeaderRowDef="displayedColums"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColums"></tr>
            </table>
          </div>
          </mat-card-content>
          <br />
          <mat-card-footer>
            <mat-paginator
              [length]="totalItems"
              [pageSize]="limit"
              [pageSizeOptions]="[5, 10, 20, 50, 100]"
              (page)="onPaginateChange($event, 'all')"
            ></mat-paginator>
          </mat-card-footer>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>
  