<form [formGroup]="techSpecsForm" (ngSubmit)="onSubmit()">
    <div class="brand-container">
      <mat-card class="brand-photo-card">        
        <mat-card-content>
            <mat-form-field>
              <mat-label>Title</mat-label>
              <input formControlName="name" matInput  value="{{techSpec?.title}}"/>
              <mat-error *ngIf="techSpecsForm.get('name')?.hasError('required')">
                Name is required.
              </mat-error>
            </mat-form-field>
        </mat-card-content>
  
        <div class="error-input">
            <quill-editor
              [styles]="{ height: '150px' }"
              formControlName="description"
            >
            </quill-editor>
          </div>
        <mat-card-content>
            <div class="brand-photo-container">
              <div class="brand-photo">
                <img
                  [src]="techSpecImageUrl"
                />
                <input 
                  type="file"
                  formControlName="image"
                  (change)="onFileSelected($event)"
                  #fileInput                 
                />
              </div>
            </div>
          </mat-card-content>
  
        <mat-card-actions class="actions">
          <button mat-raised-button class="custom-button">Save</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </form>
  