<section class="card-container">
  <div class="card">
    <div class="align-icon">
      <i class="bi bi-people icon"></i>
      <!-- <h2>Daily New Users</h2> -->
    </div>
    <!-- <p class="total-count">{{ dashboardDetails?.dailyNewUsers }}</p> -->
  </div>
  <div class="card">
    <div class="align-icon">
      <i class="bi bi-activity icon"></i>
      <!-- <h2>Total Active</h2> -->
    </div>
    <!-- <p class="total-count">{{ dashboardDetails?.totalActive }}</p> -->
  </div>
  <div class="card">
    <div class="align-icon">
      <i class="bi bi-people icon"></i>
      <!-- <h2>Total Clients</h2> -->
    </div>
    <!-- <p class="total-count">{{ dashboardDetails?.totalClients }}</p> -->
  </div>
  <div class="card">
    <div class="align-icon">
      <i class="bi bi-people-fill icon"></i>
      <!-- <h2>Total In-Active</h2> -->
    </div>
    <!-- <p class="total-count">{{ dashboardDetails?.totalInactiveUsers }}</p> -->
  </div>
</section>
